body {
  user-select: none;
}

.backgroundIMG {
  background-image: url(https://images.unsplash.com/photo-1571081901472-6ce797f629f1?q=80&w=1967&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: top;
  background-size: cover;
}

/* .boss {
  
} */